autopep8==1.5.6
certifi==2020.12.5
chardet==4.0.0
discord-webhook==0.11.0
discordwebhook==1.0.2
humanize==3.4.1
idna==2.10
logging==0.4.9.6
logging-config==1.0.4
psutil==5.8.0
pycodestyle==2.7.0
PyYAML==5.4.1
qbittorrent-api==2021.4.20
requests==2.25.1
six==1.15.0
tenacity==7.0.0
toml==0.10.2
urllib3==1.26.4
